<footer>
    
    <small>Copyright &copy; ShoesConnect</small>
<div class = 'foot'>
    
    <a href = '/about'> About </a>
    <a> |</a>
    <a href = '/contact'> Contact</a>

</div>
</footer>
    
</body>

</html>