<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>HomePage</title>
</head>
<body>
    <nav>
        <a href = '/'>
            <img src = "/images/mainlogo.jpg" alt="mainlogo">
         </a>
        <h2>ShoesConnect</h2>
        <a href='/'>Home</a>
        <a> |</a>
        <a href='/connections'>Connections</a>
        <a> |</a>
        <a href='/connections/new'>Start a new Connection</a>
    </nav>

   <a> Login</a>
   <a> |</a>
   <a> Sign up</a> 

