.menu {
    padding: 40px;
    text-align: right;
    background: #000000;
    color: white;
    font-size: 30px;
  }

  .logo{
    box-align: left;
  }


  .generalnav{
    text-align: left;
    background: #000000;
    color: white;
    font-size: 30px;
  }