.menu {
    height: 200%;
    width: 100%;
    text-align: right;
    background: #000000;
    color: white;
    font-size: 20px;
    
  }

 

  #logo{
    text-align: left;
    height: 30px;
    width: 30px;
  }


  #generalnav{
    text-align: left;
    background: #000000;
    color: white;
    font-size: 20px;
  }

  h1{
    text-align: center;
  }

  #maindesc{
    text-align: center;
  }

  .link1{
    color: white;
    background-color: white;
    text-decoration: none;
  }

  .link1:link, .link1:active{
    color: white;
    background-color: white;
    text-decoration: none;
  }


  .footer{
  
    height: 200%;
    width: 100;
    text-align: left;
    background: #000000;
    color: white;
    font-size: 20px;

  }

  .facebook{
    text-align: justify;
    height: 1px;
    width: 1px;

  }

  .twitter{
    text-align: justify;
    height: 10px;
    width: 10px;

  }
