.menu {
    padding: 80px;
    text-align: right;
    background: #000000;
    color: white;
    font-size: 20px;
    
  }

 

  #logo{
    padding: fill;
    text-align: left;
    height: 50px;
    width: 50px;
  }


  #generalnav{
    padding: fill;
    text-align: left;
    background: #000000;
    color: white;
    font-size: 20px;
  }

  h1{
    text-align: center;
  }

  #maindesc{
    text-align: center;
  }

  #link1:link, #link1:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }


  .footer{
  
    padding: 75px;
    text-align: left;
    background: #000000;
    color: white;
    font-size: 20px;

  }

  #facebook{
    text-align: right;
    height: 20px;
    width: 20px;

  }

  #twitter{
    text-align: right;
    height: 20px;
    width: 20px;

  }
