<%- include('./partials/header.ejs')%>

<div class = "content">
    <h3>About ShoesConnect </h3> 
    <p>We started this company a few years ago to connect people around the
        area to enjoy each others company. 
    </p>
    <p>Talking about shoes is a lifelong goal because of the passion 
        behind those that love shoes. Thank you for partnering with 
        ShoesConnect to make not only our dream come true, but yours
        as well!
    </p>
</div>



<%- include('./partials/footer.ejs')%>
