<%- include('./partials/header.ejs')%>

<div class = "content">
    <h3>Contacting ShoesConnect </h3> 
    <p>Email: ShoesConnect@gmail.com</p>
    <p>Phone Number: 704-889-5678</p>
    <p>Location: 456 Charlotte Rd, Charlotte, NC 28210</p>
    <p>All Social Media Platforms: @Shoes_Connect</p>

</div>



<%- include('./partials/footer.ejs')%>
