<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h3>Welcome to ShoesConnect </h3> 
        <p>This is the home page of ShoesConnect for learning overall experience</p>
        <p>ShoesConnect is a website to create connections and attend events to talk about the new and latest shoes.
            Here you can debate and have conversations on shoes that interest you or to learn something
            new. Enjoy your time.
            Check out our connections page to see all available ShoesConnect connections!</p>
    </div>
    
<%- include('./partials/footer.ejs')%>


