<%- include('../partials/header.ejs')%>
<div class = "content">
    <form action = '/connections' method = 'POST'>
        <table>
            <tr>
                <td><label for="author">Host</label></td>
                <td><input type="text" id="author" name="author" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="topic">Topic</label></td>
                <td><input type="text" id="topic" name="topic" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="imageurl">Image</label></td>
                <td><input type="text" id="imageurl" name="imageurl" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" id="title" name="title" class = "fixed-width"></td>
            </tr>
            <tr>
                <td class = "align-top"><label for="content">Details</label></td>
                <td><textarea rows="5" id="content" name="content" class = "fixed-width"></textarea></td>
            </tr>
            <tr>
                <td><label for="location">Location</label></td>
                <td><input type="text" id="location" name="location" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="endtime">Ending Time Range</label></td>
                <td><input type="text" id="endtime" name="endtime" class = "fixed-width"></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Create Connection</button></td>
            </tr>
        </table>        
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>
